.results {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20;
    h1 {
        font-size: 100px;
        text-align: center;
    }
    p {
        color:white;
        // display: inline-block;
        font-size: 30px;
        text-align: center;
    }
}

.results-container {
    // display:flex;
    // justify-content: center;
}