@import "partials/_setup.scss";
@import "partials/_main.scss";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    font-size: 62.5%;
    // height: 100%;
}

body {
    // background: rgb(17,17,17);
    background: cornflowerblue;
    // min-height: 100%; 
}

section, main {
    height: 100vh;
}

.wrapper {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
    
}

